﻿{extend name="layout/mainlayout" /}
{block name="add1"} <li> {/block}
{block name="add2"} <li> {/block}
{block name="add3"} <li> {/block}
{block name="add4"} <li> {/block}
{block name="add5"} <li> {/block}
{block name="add6"} <li class="active-link"> {/block}
{block name="inner"}
  <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h2>APK版本更新</h2>
                    </div>
                </div>
                <!-- /. ROW  -->

                <!-- /. ROW  -->
                <hr>  
                        <div class="form-group">
                            <label>当前APK版本名称</label>
                            <input class="form-control" name="name" value="{$info.file_name}" /readonly>
                            <p class="help-block" style="display: none;">Help text here.</p>
                        </div>				
				
 <FORM method="post" enctype="multipart/form-data" class="form" action="{:url('user/Vending/upload')}">填写新的apk的版本名称：
     <input class="form-control" name="file_name" value="" />
     <INPUT type="file" class="files" name="files"><br/>
     <INPUT type="submit" class="btn" value=" 提交 ">
 </FORM>
</div>
  
{/block}