﻿{extend name="layout/mainlayout2" /}
{block name="inner"}

                    <h2 class="header-text">
                       APK版本更新
                       <span class="sub-header">                       
                            编辑                     
                        </span>                       
                    </h2>			
					<div class="smart-widget">
						<div class="smart-widget-header">
							Current Acount
							<span class="smart-widget-option">
								<span class="refresh-icon-animated">
									<i class="fa fa-circle-o-notch fa-spin"></i>
								</span>								
	                            <a href="#" class="widget-toggle-hidden-option">
	                                <i class="fa fa-cog"></i>
	                            </a>
	                            <a href="#" class="widget-collapse-option" data-toggle="collapse">
	                                <i class="fa fa-chevron-up"></i>
	                            </a>
	                            <a href="#" class="widget-refresh-option">
	                                <i class="fa fa-refresh"></i>
	                            </a>
	                            <a href="#" class="widget-remove-option">
	                                <i class="fa fa-times"></i>
	                            </a>
	                        </span>
						</div>
						<div class="smart-widget-inner">
							<div class="smart-widget-hidden-section">
								<ul class="widget-color-list clearfix">
									<li style="background-color:#20232b;" data-color="widget-dark"></li>
									<li style="background-color:#4c5f70;" data-color="widget-dark-blue"></li>
									<li style="background-color:#23b7e5;" data-color="widget-blue"></li>
									<li style="background-color:#2baab1;" data-color="widget-green"></li>
									<li style="background-color:#edbc6c;" data-color="widget-yellow"></li>
									<li style="background-color:#fbc852;" data-color="widget-orange"></li>
									<li style="background-color:#e36159;" data-color="widget-red"></li>
									<li style="background-color:#7266ba;" data-color="widget-purple"></li>
									<li style="background-color:#f5f5f5;" data-color="widget-light-grey"></li>
									<li style="background-color:#fff;" data-color="reset"></li>
								</ul>
							</div>
							
<div class="smart-widget-body">
<div class="form-group">
                            <label class="col-lg-2 control-label">当前APK版本名称</label>
                            <input class="form-control" name="name" value="{$info.file_name}" /readonly>								
 </div>
 <div class="form-group">
 <FORM  method="post" enctype="multipart/form-data" action="{:url('user/Vending/upload')}">
 <label class="col-lg-10 control-label">填写新的apk的版本名称</label>
     <input class="form-control" name="file_name" value="" />
     <INPUT type="file" class="files" name="files"><br/>
     <INPUT type="submit" class="btn btn-success btn-sm" value=" 提交 ">
 </FORM>
 </div>
</div>
 </div>
 </div>
{/block}