﻿{extend name="layout/mainlayout2" /}
{block name="inner"}
                    <h2 class="header-text">
                       售卖机
                       {if condition="! empty($info)"}
                       <span class="sub-header">                       
                            编辑列表                     
                        </span>
                        {/if} 
                       {if condition=" empty($info)"}
                       <span class="sub-header">                       
                            添加列表                     
                        </span>
                        {/if}                         
                    </h2>
                    <div class="smart-widget m-top-lg widget-dark-blue">
                        <div class="smart-widget-header">
                            信息列表
                            <span class="smart-widget-option">
                                <span class="refresh-icon-animated">
                                    <i class="fa fa-circle-o-notch fa-spin"></i>
                                </span>
                                <a href="#" class="widget-toggle-hidden-option">
                                    <i class="fa fa-cog"></i>
                                </a>
                                <a href="#" class="widget-collapse-option" data-toggle="collapse">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a href="#" class="widget-refresh-option">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" class="widget-remove-option">
                                    <i class="fa fa-times"></i>
                                </a>
                            </span>
                        </div>
                        <div class="smart-widget-inner">
                            <div class="smart-widget-hidden-section">
                                <ul class="widget-color-list clearfix">
                                    <li style="background-color:#20232b;" data-color="widget-dark"></li>
                                    <li style="background-color:#4c5f70;" data-color="widget-dark-blue"></li>
                                    <li style="background-color:#23b7e5;" data-color="widget-blue"></li>
                                    <li style="background-color:#2baab1;" data-color="widget-green"></li>
                                    <li style="background-color:#edbc6c;" data-color="widget-yellow"></li>
                                    <li style="background-color:#fbc852;" data-color="widget-orange"></li>
                                    <li style="background-color:#e36159;" data-color="widget-red"></li>
                                    <li style="background-color:#7266ba;" data-color="widget-purple"></li>
                                    <li style="background-color:#f5f5f5;" data-color="widget-light-grey"></li>
                                    <li style="background-color:#fff;" data-color="reset"></li>
                                </ul>
                            </div>
                            <div class="smart-widget-body">
                                <form action="{:url('user/vending/saveVendor')}" method="post">
                                    <input type="hidden" name="uid" value="{$info.uid}"/>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">售卖机名称</label>
                                        <input name="name" type="text" class="form-control"  placeholder="Name" value="{$info.name}">
                                    </div><!-- /form-group -->
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">售卖机地址</label>
                                        <input name="address" type="text" class="form-control"  placeholder="Address" value="{$info.address}">
                                    </div><!-- /form-group -->
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">售卖机uuid</label>
                                        <input name="uuid" type="text" class="form-control" placeholder="uuid" value="{$info.uuid}">
                                    </div><!-- /form-group -->                                    
                                    <div class="form-group">
                                    </div><!-- /form-group -->
                                    <button type="submit" value="提交" class="btn btn-success btn-sm" >提交</button>
                                    {if condition="! empty($info)"}
                                    <a href="javascript:removeinfo('{$info.uid}');">
                                    <span class="btn btn-success btn-sm">删除</span>
                                    </a>                                   
                                    <a href="{:url('user/goods/index')}?vendor_uid={$info.uid}">
                                    <span class="btn btn-success btn-sm">查看商品</span>
                                    </a> 
                                    {/if}                                                                       
                                </form>
                            </div>
                        </div><!-- ./smart-widget-inner -->
                    </div>
<script type="text/javascript">
//删除分类
function removeinfo(id){
    layer.confirm('您确定要删除吗？',{
        btn:['确定','取消']
    },function(){            
        $.getJSON("{:url('user/Vending/delVendor')}",{'uid':id},function(data){
           if(data.status==0){
               layer.alert("success", {
                closeBtn:0
               }, function(){
                window.location.href="{:url('user/Vending/index')}";
               });
           }else{
               layer.alert("fail", {
                closeBtn:0
               }, function(){
                window.location.href="{:url('user/Vending/index')}";
               });
           }
        });
    },function(){}
    );
}
</script>
{/block}