﻿{extend name="layout/mainlayout" /}
{block name="add1"} <li> {/block}
{block name="add3"} <li> {/block}
{block name="add4"} <li class="active-link"> {/block}
{block name="inner"}

<link rel="stylesheet" type="text/css" href="/public/static/css/datatable_css/jquery.dataTables.min.css">
<script src="/public/static/js/datatable_js/jquery.js"></script>
<script src="/public/static/js/datatable_js/jquery.dataTables.min.js"></script>
  <div id="page-inner">
  
  <style type="text/css"> 

*{ margin:0; padding:0;}

body {   font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(http://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');}

ul,li{ list-style:none;}

img{border:0 none;}

/*---------------------------------------demo css--------------------------------------------*/

.date_selector, .date_selector *{width:auto;height: auto;border: none;background: none;margin: 0;padding: 0;text-align: left;text-decoration: none;}

.date_selector{background:#fbfbfb;border: 1px solid #ccc;padding: 10px;margin:0;margin-top:-1px;position: absolute;z-index:100000;display:none;border-radius: 3px;box-shadow: 0 0 5px #aaa;box-shadow:0 2px 2px #ccc; width:240px;}

.date_selector_ieframe{position: absolute;z-index: 99999;display: none;}

.date_selector .nav{width: 15em;}

.date_selector .nav p{clear: none;}

.date_selector .month_nav, .date_selector .year_nav{margin: 0 0 3px 0;padding: 0;display: block;position: relative;text-align: center;}

.date_selector .month_nav{float: left;width: 55%;}

.date_selector .year_nav{float: right;width: 42%;margin-right: -8px;}

.date_selector .month_name, .date_selector .year_name{font-weight: bold;line-height: 20px;}

.date_selector .button{display: block;position: absolute;top: 0;width:18px;height:18px;line-height:16px;font-weight:bold;color:#5985c7;text-align: center;font-size:12px;overflow:hidden;border: 1px solid #ccc;border-radius:2px;}

.date_selector .button:hover, .date_selector .button.hover{background:#5985c7;color: #fff;cursor: pointer;border-color:#3a930d;}

.date_selector .prev{left: 0;}

.date_selector .next{right: 0;}

.date_selector table{border-spacing: 0;border-collapse: collapse;clear: both;margin: 0; width:220px;}

.date_selector th, .date_selector td{width: 2.5em;height: 2em;padding: 0 !important;text-align: center !important;color: #666;font-weight: normal;}

.date_selector th{font-size: 12px;}

.date_selector td{border:1px solid #f1f1f1;line-height: 2em;text-align: center;white-space: nowrap;color:#5985c7;background: #fff;}

.date_selector td.today{background: #eee;}

.date_selector td.unselected_month{color: #ccc;}

.date_selector td.selectable_day{cursor: pointer;}

.date_selector td.selected{background:#2b579a;color: #fff;font-weight: bold;}

.date_selector td.selectable_day:hover, .date_selector td.selectable_day.hover{background:#5985c7;color: #fff;}

/*-----------------------------------------------------------------------------------*/

</style> 

<script src="http://www.jq22.com/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript" src="/public/static/js/jquery.date_input.pack.js"></script> 

<script type="text/javascript">
$(function(){

	$('.date_picker').date_input();	
	})
</script>
                  <div class="row">
                    <div class="col-lg-12">
                     <h2>交易流水账：</h2>   
                    </div>
                </div>
<hr>
		<div class="filter-text">
			<input class="filter-title" type="text" readonly placeholder="请选择售卖机名字" />
			<i class="icon icon-filter-arrow"></i>
		</div>
		<select id="pid" onchange="gradeChange()">
            {volist name='addlist' id='item'}
	        <option grade="{$item.auto_id}" value="{$item.uid}">{$item.name}</option>				
	        {/volist}
		</select>
<!--<a href="{:url('user/vending/trans')}?vendor_uid={$item.uid}"> 确认更改 </a>	-->	
<input type="button"  value="确认更改" onclick="send()"/>		
<!--<input type="button"  value="#" onclick="sendDate()"/>-->		
<hr>
<p>
        输入一组交易日期范围：
    </p>

    <table border="0" cellspacing="5" cellpadding="5">
        <tbody><tr>
            <td>最早交易日期:</td>
            <td><input type="text" id="min" name="min" class="date_picker"></td>
        </tr>
        <tr>
            <td>最晚交易日期:</td>
            <td><input type="text" id="max" name="max" class="date_picker"></td>
        </tr>

        </tbody>
    </table>
        </tbody>
		<input type="button"  value="确认" onclick="" id="change"/>	
    <!-- 表格开始 -->
 
  <table id="example" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>序号</th>
        <th>交易日期</th>
        <th>商品uid</th>
        <th>状态</th>
    </tr>
    </thead>
 
    <tfoot>
    <tr>
        <th>序号</th>
        <th>交易日期</th>
        <th>商品uid</th>
        <th>状态</th>
    </tr>
    </tfoot>
 
    <tbody>
{volist name='paylist' id='paylist'}
    <tr>
        <td>{$paylist.pay_id}</td>
        <td>{$paylist.pay_time}</td>
        <td>{$paylist.good_uid}</td>
        <td>{$paylist.status}</td>
	</tr>	
{/volist}
    </tbody>
</table>
</div>
<script type="text/javascript" src="/public/static/js/datatable_js/jquery.min.js"></script>
<script type="text/javascript"src="/public/static/js/datatable_js/jquery.dataTables.min.js"></script>
<script>
function send(){
         var objS = document.getElementById("pid");
         var grade = objS.options[objS.selectedIndex].grade;
         var index = objS.selectedIndex;
		 var vendor_uid0 = objS.options[index].value;
         document.location="{:url('user/vending/trade_pay')}?vendor_uid="+vendor_uid0;
}
function sendDate(){
 var today = new Date();
 var year = today.getFullYear();
 var month = today.getMonth()+1;
 var day = today.getDate();
 month  = month<10  ? "0"+month : month;
 day  = day <10  ? "0"+day : day;
 var str = year+month+day;
 document.location="{:url('user/vending/get_date')}?date="+str;
}
       function gradeChange(){
        var objS = document.getElementById("pid");
        var grade = objS.options[objS.selectedIndex].grade;
        var index = objS.selectedIndex;
		var vendor_uid0 = objS.options[index].value;		
       }	   
$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var min = parseInt( $('#min').val(), 10 );
        var max = parseInt( $('#max').val(), 10 );
        var date = parseFloat( data[1] ) || 0; 
 
        if ( ( isNaN( min ) && isNaN( max ) ) ||
             ( isNaN( min ) && date <= max ) ||
             ( min <= date   && isNaN( max ) ) ||
             ( min <= date   && date <= max ) )
        {
            return true;
        }
        return false;
    }
);
$(document).ready(function() {
    var table = $('#example').DataTable();
 
    // Event listener to the two range filtering inputs to redraw on input
    $('#min, #max').keyup( function() {
	
        table.draw();
    } );

    $('#change').mousedown( function() {
	
        table.draw();
    } );	
	
} );
</script>
</div>
{/block}