﻿{extend name="layout/mainlayout" /}
{block name="add1"} <li> {/block}
{block name="add2"} <li> {/block}
{block name="add3"} <li> {/block}
{block name="add4"} <li> {/block}
{block name="add5"} <li class="active-link"> {/block}
{block name="inner"}

<link rel="stylesheet" type="text/css" href="/public/static/css/datatable_css/jquery.dataTables.min.css">
<script src="/public/static/js/datatable_js/jquery.js"></script>
<script src="/public/static/js/datatable_js/jquery.dataTables.min.js"></script>
  <div id="page-inner">
  
                  <div class="row">
                    <div class="col-lg-12">
                     <h2>售卖机短信流量统计表：</h2>   
                    </div>
                </div>
  <table id="example" class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>售卖机名称</th>
        <th>已使用流量</th>
        <th>未使用流量</th>
        <th>已使用话费</th>
        <th>未使用话费</th>
        <th>已使用信息条数</th>
        <th>未使用信息条数</th>		
    </tr>
    </thead>
 
    <tfoot>
    <tr>
        <th>售卖机名称</th>
        <th>已使用流量</th>
        <th>未使用流量</th>
        <th>已使用话费</th>
        <th>未使用话费</th>
        <th>已使用信息条数</th>
        <th>未使用信息条数</th>		
    </tr>
    </tfoot>
 
    <tbody>
{volist name='streamlist' id='streamlist'}
    <tr>
        <td>{$streamlist.uuid}</td>
        <td>{$streamlist.DataUsed}</td>
        <td>{$streamlist.DataRemain}</td>
        <td>{$streamlist.ChargeUsed}</td>
        <td>{$streamlist.ChargeRemain}</td>
        <td>{$streamlist.SMSUsed}</td>	
        <td>{$streamlist.SMSRemain}</td>		
	</tr>	
{/volist}	

    </tbody>
</table>
</div>
<script type="text/javascript" src="/public/static/js/datatable_js/jquery.min.js"></script>
<script type="text/javascript"src="/public/static/js/datatable_js/jquery.dataTables.min.js"></script>
<script>



function send(){
         var objS = document.getElementById("pid");
         var grade = objS.options[objS.selectedIndex].grade;
         var index = objS.selectedIndex;
		 var vendor_uid0 = objS.options[index].value;
         document.location="{:url('user/vending/trade_pay')}?vendor_uid="+vendor_uid0;
}
function sendDate(){
 var today = new Date();
 var year = today.getFullYear();
 var month = today.getMonth()+1;
 var day = today.getDate();
 month  = month<10  ? "0"+month : month;
 day  = day <10  ? "0"+day : day;
 var str = year+month+day;
 document.location="{:url('user/vending/get_date')}?date="+str;


}


       function gradeChange(){
        var objS = document.getElementById("pid");
        var grade = objS.options[objS.selectedIndex].grade;
        var index = objS.selectedIndex;
		var vendor_uid0 = objS.options[index].value;		
       }

$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var min = parseInt( $('#min').val(), 10 );
        var max = parseInt( $('#max').val(), 10 );
        var date = parseFloat( data[1] ) || 0; 
 
        if ( ( isNaN( min ) && isNaN( max ) ) ||
             ( isNaN( min ) && date <= max ) ||
             ( min <= date   && isNaN( max ) ) ||
             ( min <= date   && date <= max ) )
        {
            return true;
        }
        return false;
    }
);
 
$(document).ready(function() {
    var table = $('#example').DataTable();
 
    // Event listener to the two range filtering inputs to redraw on input
    $('#min, #max').keyup( function() {
        table.draw();
    } );
} );
</script>
</div>
  
{/block}