﻿{extend name="layout/mainlayout2" /}
{block name="datatable"}{/block}
{block name="inner"}
<link rel="stylesheet" type="text/css" href="/public/static/css/datatable_css/jquery.dataTables.min.css">
<script src="/public/static/js/datatable_js/jquery.js"></script>
<script src="/public/static/js/datatable_js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/public/static/js/jquery.date_input.pack.js"></script> 
<script type="text/javascript" src="/public/static/js/datatable_js/jquery.min.js"></script>
<script type="text/javascript"src="/public/static/js/datatable_js/jquery.dataTables.min.js"></script>
                    <h2 class="header-text">
                       售卖机短信/流量统计
                       <span class="sub-header">                       
                            表格                     
                        </span>                       
                    </h2>
					<div class="smart-widget">
						<div class="smart-widget-header">
							Stream Acount
							<span class="smart-widget-option">
								<span class="refresh-icon-animated">
									<i class="fa fa-circle-o-notch fa-spin"></i>
								</span>								
	                            <a href="#" class="widget-toggle-hidden-option">
	                                <i class="fa fa-cog"></i>
	                            </a>
	                            <a href="#" class="widget-collapse-option" data-toggle="collapse">
	                                <i class="fa fa-chevron-up"></i>
	                            </a>
	                            <a href="#" class="widget-refresh-option">
	                                <i class="fa fa-refresh"></i>
	                            </a>
	                            <a href="#" class="widget-remove-option">
	                                <i class="fa fa-times"></i>
	                            </a>
	                        </span>
						</div>
						<div class="smart-widget-inner">
							<div class="smart-widget-hidden-section">
								<ul class="widget-color-list clearfix">
									<li style="background-color:#20232b;" data-color="widget-dark"></li>
									<li style="background-color:#4c5f70;" data-color="widget-dark-blue"></li>
									<li style="background-color:#23b7e5;" data-color="widget-blue"></li>
									<li style="background-color:#2baab1;" data-color="widget-green"></li>
									<li style="background-color:#edbc6c;" data-color="widget-yellow"></li>
									<li style="background-color:#fbc852;" data-color="widget-orange"></li>
									<li style="background-color:#e36159;" data-color="widget-red"></li>
									<li style="background-color:#7266ba;" data-color="widget-purple"></li>
									<li style="background-color:#f5f5f5;" data-color="widget-light-grey"></li>
									<li style="background-color:#fff;" data-color="reset"></li>
								</ul>
							</div>
							<div class="smart-widget-body">
							<div class="form-group">
	     <label class="control-label col-lg-3">售卖机短信流量统计表：</label>		
								<table id="example" class="table table-striped">
						      		<thead>
						        		<tr>
                                               <th>售卖机名称</th>
                                               <th>已使用流量</th>
                                               <th>未使用流量</th>
                                               <th>已使用话费</th>
                                               <th>未使用话费</th>
                                               <th>已使用信息条数</th>
                                               <th>未使用信息条数</th>
						        		</tr>
						      		</thead>
									    <tbody>
{volist name='streamlist' id='streamlist'}
    <tr>
        <td>{$streamlist.uuid}</td>
        <td>{$streamlist.DataUsed}</td>
        <td>{$streamlist.DataRemain}</td>
        <td>{$streamlist.ChargeUsed}</td>
        <td>{$streamlist.ChargeRemain}</td>
        <td>{$streamlist.SMSUsed}</td>	
        <td>{$streamlist.SMSRemain}</td>		
	</tr>	
{/volist}	
    </tbody>

							    </table>
							</div>
						</div><!-- ./smart-widget-inner -->
					</div><!-- ./smart-widget -->
					</div>
<script>
function send(){
         var objS = document.getElementById("pid");
         var grade = objS.options[objS.selectedIndex].grade;
         var index = objS.selectedIndex;
		 var vendor_uid0 = objS.options[index].value;
         document.location="{:url('user/vending/trade_pay')}?vendor_uid="+vendor_uid0;
}
function sendDate(){
 var today = new Date();
 var year = today.getFullYear();
 var month = today.getMonth()+1;
 var day = today.getDate();
 month  = month<10  ? "0"+month : month;
 day  = day <10  ? "0"+day : day;
 var str = year+month+day;
 document.location="{:url('user/vending/get_date')}?date="+str;
}
       function gradeChange(){
        var objS = document.getElementById("pid");
        var grade = objS.options[objS.selectedIndex].grade;
        var index = objS.selectedIndex;
		var vendor_uid0 = objS.options[index].value;		
       }	   
$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var min = parseInt( $('#min').val(), 10 );
        var max = parseInt( $('#max').val(), 10 );
        var date = parseFloat( data[1] ) || 0; 
 
        if ( ( isNaN( min ) && isNaN( max ) ) ||
             ( isNaN( min ) && date <= max ) ||
             ( min <= date   && isNaN( max ) ) ||
             ( min <= date   && date <= max ) )
        {
            return true;
        }
        return false;
    }
);
$(document).ready(function() {
    var table = $('#example').DataTable();
 
    // Event listener to the two range filtering inputs to redraw on input
    $('#min, #max').keyup( function() {
	
        table.draw();
    } );

    $('#change').mousedown( function() {
	
        table.draw();
    } );	
	
} );
</script>
{/block}					