﻿{extend name="layout/mainlayoutsup" /}
{block name="inner"}
  <div id="page-inner">

        <form action="{:url('user/vending/saveVendor')}" method="post" />
            <input type="hidden" name="uid" value="{$info.uid}"/>
                <div class="row">
                    <div class="col-md-12">
                        <h2>商品种类</h2>
                    </div>
                </div>
                <!-- /. ROW  -->

                <!-- /. ROW  -->
                <hr>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label>商品名称</label>
                            <input class="form-control" name="name" value="{$info.name}"/>
                            <p class="help-block" style="display: none;">Help text here.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
      <div class="col-lg-4 col-md-4">
        <form action="" method="post" enctype="multipart/form-data" name="upload_form">

           <label>选择图片文件</label>
                <input name="imgfile" type="file" accept="image/gif, image/jpeg"/>
				<br>
                    <input name="upload" type="submit" value="图片上传" class="btn btn-danger btn-lg btn-block"/>
        </form>
       </div>
                </div>
				 <hr>

                <div class="row">
                    <div class="col-lg-4 col-md-4">
				
                        <input type="submit" name="action" value="提交" class="btn btn-danger btn-lg btn-block" />
                        <a href="{:url('user/goods/index')}">
                        <span class="btn btn-danger btn-lg btn-block btn-margin-top">查看商品</span>
                        </a>
                    </div>
                </div>

        </form>

        </div>

<script type="text/javascript">
//删除分类
function removeinfo(id){

    layer.confirm('您确定要删除吗？',{
        btn:['确定','取消']
    },function(){            
        // $.getJSON("{:url('user/Vending/delVendor')}",{'uid':id},function(data){
        //    if(data.status==0){
        //        layer.msg(data.msg,{icon:1});
        //    }else{
        //        layer.msg(data.msg,{icon:2});
        //    }
        // });
    },function(){}
    );
}
</script>
{/block}