﻿{extend name="layout/mainlayoutsup2" /}
{block name="inner"}
                    <h2 class="header-text">
                       商品种类
                       {if condition="! empty($info)"}
                       <span class="sub-header">                       
                            编辑列表                     
                        </span>
                        {/if} 
                       {if condition=" empty($info)"}
                       <span class="sub-header">                       
                            添加列表                     
                        </span>
                        {/if}                         
                    </h2>
                    <div class="smart-widget m-top-lg widget-dark-blue">
                        <div class="smart-widget-header">
                            信息列表
                            <span class="smart-widget-option">
                                <span class="refresh-icon-animated">
                                    <i class="fa fa-circle-o-notch fa-spin"></i>
                                </span>
                                <a href="#" class="widget-toggle-hidden-option">
                                    <i class="fa fa-cog"></i>
                                </a>
                                <a href="#" class="widget-collapse-option" data-toggle="collapse">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a href="#" class="widget-refresh-option">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" class="widget-remove-option">
                                    <i class="fa fa-times"></i>
                                </a>
                            </span>
                        </div>
                        <div class="smart-widget-inner">
                            <div class="smart-widget-hidden-section">
                                <ul class="widget-color-list clearfix">
                                    <li style="background-color:#20232b;" data-color="widget-dark"></li>
                                    <li style="background-color:#4c5f70;" data-color="widget-dark-blue"></li>
                                    <li style="background-color:#23b7e5;" data-color="widget-blue"></li>
                                    <li style="background-color:#2baab1;" data-color="widget-green"></li>
                                    <li style="background-color:#edbc6c;" data-color="widget-yellow"></li>
                                    <li style="background-color:#fbc852;" data-color="widget-orange"></li>
                                    <li style="background-color:#e36159;" data-color="widget-red"></li>
                                    <li style="background-color:#7266ba;" data-color="widget-purple"></li>
                                    <li style="background-color:#f5f5f5;" data-color="widget-light-grey"></li>
                                    <li style="background-color:#fff;" data-color="reset"></li>
                                </ul>
                            </div>
                            <div class="smart-widget-body">
       <form action="{:url('user/Vendingsup/saveInfo')}" enctype="multipart/form-data" method="post" />
                <input type="hidden" name="uid" value="{$info.uid}"/>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label>商品名称</label>
                            <input class="form-control" name="name" value="{$info.name}"/>
                            <p class="help-block" style="display: none;">Help text here.</p>
                        </div>
                    </div>
                </div>
<p>
                <div class="row">
      <div class="col-lg-4 col-md-4">
           <label>选择图片文件</label><br>
           <label id="upload-name">{$info.file_name}</label>
                <input name="image" id="upload-btn" type="file" class="files"/>
				<br>
       </div>
                </div>
				 <hr>
</p>
                <div class="row">
                    <div class="col-lg-4 col-md-4">
				
                        <input type="submit" value="图片上传并提交" class="btn btn-success btn-sm" />
                    </div>
                </div>

        </form>
                            </div>
                        </div><!-- ./smart-widget-inner -->
                    </div>
{/block}