﻿{extend name="layout/mainlayoutsup" /}
{block name="add1"} <li> {/block}
{block name="add3"} <li class="active-link"> {/block}
{block name="inner"}

    <link rel="stylesheet" type="text/css" href="__JS__/page/common/reset.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__JS__/page/common/highlight.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__JS__/page/common/common.css" media="screen">
    <link rel="stylesheet" type="text/css" href="__JS__/page/pagination.css" media="screen"> 
  <div id="page-inner">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-1">
                     <h1>用户统计表格：</h1>   
                    </div>
                </div>              
                 <!-- /. ROW  -->
                  <hr />
				  <!-- 这里开始 -->
				  
<link rel="stylesheet" type="text/css" href="__CSS__/htmleaf-demo.css">

	<div class="htmleaf-container">
		<div class="container">
		    <div class="row">
		      <div class="col-sm-8 col-sm-offset-1">
 
              <table class="table table-bordered">
              <thead class="tbhead">
                <tr>
                  <td width="20%">用户名称</td>
                  <td width="10%">用户邮箱</td>
				  <td width="7%">用户电话</td>
                  <td width="20%">用户地址</td>
                  <td width="8%">用户密码</td>
                  <td width="7%">待定</td>
                  <td width="10%">待定</td>
                 </tr>
               </thead>
               <tbody>
{volist name='userList' id='item'}	        
        <tr> 
		          <td width="20%">{$item.user_name}</td>
                  <td width="10%">{$item.user_email}</td>
				  <td width="7%">{$item.user_tel}</td>
                  <td width="20%">{$item.user_address}</td>
                  <td width="8%">{$item.user_passwd}</td>
                  <td width="7%"></td>
                  <td width="10%"></td>

         </tr>
{/volist}

{volist name='userList' id='item'}	        
        <tr> 
		          <td width="20%">{$item.user_name}</td>
                  <td width="10%">{$item.user_email}</td>
				  <td width="7%">{$item.user_tel}</td>
                  <td width="20%">{$item.user_address}</td>
                  <td width="8%">{$item.user_passwd}</td>
                  <td width="7%"></td>
                  <td width="10%"></td>

         </tr>
{/volist}  
{volist name='userList' id='item'}	        
        <tr> 
		          <td width="20%">{$item.user_name}</td>
                  <td width="10%">{$item.user_email}</td>
				  <td width="7%">{$item.user_tel}</td>
                  <td width="20%">{$item.user_address}</td>
                  <td width="8%">{$item.user_passwd}</td>
                  <td width="7%"></td>
                  <td width="10%"></td>

         </tr>
{/volist}  
{volist name='userList' id='item'}	        
        <tr> 
		          <td width="20%">{$item.user_name}</td>
                  <td width="10%">{$item.user_email}</td>
				  <td width="7%">{$item.user_tel}</td>
                  <td width="20%">{$item.user_address}</td>
                  <td width="8%">{$item.user_passwd}</td>
                  <td width="7%"></td>
                  <td width="10%"></td>

         </tr>
{/volist}  
{volist name='userList' id='item'}	        
        <tr> 
		          <td width="20%">{$item.user_name}</td>
                  <td width="10%">{$item.user_email}</td>
				  <td width="7%">{$item.user_tel}</td>
                  <td width="20%">{$item.user_address}</td>
                  <td width="8%">{$item.user_passwd}</td>
                  <td width="7%"></td>
                  <td width="10%"></td>

         </tr>
{/volist}  
{volist name='userList' id='item'}	        
        <tr> 
		          <td width="20%">{$item.user_name}</td>
                  <td width="10%">{$item.user_email}</td>
				  <td width="7%">{$item.user_tel}</td>
                  <td width="20%">{$item.user_address}</td>
                  <td width="8%">{$item.user_passwd}</td>
                  <td width="7%"></td>
                  <td width="10%"></td>

         </tr>
{/volist}  
{volist name='userList' id='item'}	        
        <tr> 
		          <td width="20%">{$item.user_name}</td>
                  <td width="10%">{$item.user_email}</td>
				  <td width="7%">{$item.user_tel}</td>
                  <td width="20%">{$item.user_address}</td>
                  <td width="8%">{$item.user_passwd}</td>
                  <td width="7%"></td>
                  <td width="10%"></td>

         </tr>
{/volist}  
{volist name='userList' id='item'}	        
        <tr> 
		          <td width="20%">{$item.user_name}</td>
                  <td width="10%">{$item.user_email}</td>
				  <td width="7%">{$item.user_tel}</td>
                  <td width="20%">{$item.user_address}</td>
                  <td width="8%">{$item.user_passwd}</td>
                  <td width="7%"></td>
                  <td width="10%"></td>

         </tr>
{/volist}

{volist name='userList' id='item'}	        
        <tr> 
		          <td width="20%">{$item.user_name}</td>
                  <td width="10%">{$item.user_email}</td>
				  <td width="7%">{$item.user_tel}</td>
                  <td width="20%">{$item.user_address}</td>
                  <td width="8%">{$item.user_passwd}</td>
                  <td width="7%"></td>
                  <td width="10%"></td>

         </tr>
{/volist}       

{volist name='userList' id='item'}	        
        <tr> 
		          <td width="20%">{$item.user_name}</td>
                  <td width="10%">{$item.user_email}</td>
				  <td width="7%">{$item.user_tel}</td>
                  <td width="20%">{$item.user_address}</td>
                  <td width="8%">{$item.user_passwd}</td>
                  <td width="7%"></td>
                  <td width="10%"></td>

         </tr>
{/volist}

{volist name='userList' id='item'}	        
        <tr> 
		          <td width="20%">{$item.user_name}</td>
                  <td width="10%">{$item.user_email}</td>
				  <td width="7%">{$item.user_tel}</td>
                  <td width="20%">{$item.user_address}</td>
                  <td width="8%">{$item.user_passwd}</td>
                  <td width="7%"></td>
                  <td width="10%"></td>

         </tr>
{/volist}
        
             </tbody>
            </table>
			
		      </div>
		  </div>
		</div>
</div>			
        <br/>	
<script type="text/javascript" src="/public/staticjs/jquery.min.js"></script>
<script type="text/javascript" src="/public/staticjs/selectFilter.js"></script>
<script type="text/javascript">
	//本小插件支持移动端哦
	
	//这里是初始化
	$('.filter-box').selectFilter({
		callBack : function (val){
			//返回选择的值
			console.log(val+'-是返回的值')
		}
	});
</script>

<script>window.jQuery || document.write('<script src="__JS__/jquery-1.11.0.min.js"><\/script>')</script>
<script type="text/javascript" src="__JS__/paginathing.js"></script>
<script type="text/javascript">
	  jQuery(document).ready(function($){
	    for (var i = 1; i <= 150; i++) {
	      $('.list-group').append('<li class="list-group-item"> Item ' + i + '</li>');
	    }

	    $('.list-group').paginathing({
	      perPage: 5,
	      limitPagination: 9,
	      containerClass: 'panel-footer',
	      pageNumbers: true
	    })

	    $('.table tbody').paginathing({
	      perPage: 8,
	      insertAfter: '.table',
	      pageNumbers: true
	    });
	  });
</script>

  
{/block}