﻿{extend name="layout/mainlayout2" /}
{block name="inner"}
<div class="row m-bottom-md">
  <div class="col-sm-6 text-left text-left-sm">
    <div class="btn-group">

    </div>
    <a href="{:url('user/goods/index')}?vendor_uid={$vendorUid}" class="btn btn-danger">返回商品列表</a>
  </div><!-- ./col -->
</div><!-- .row -->

                    <h2 class="header-text">
                       商品
                       <span class="sub-header">                       
                            编辑列表                     
                        </span>                      
                    </h2>
                    <div class="smart-widget m-top-lg widget-dark-blue">
                        <div class="smart-widget-header">
                           <label>当前售卖机：vendor uid = {$vendorUid}</label>
                            <span class="smart-widget-option">
                                <span class="refresh-icon-animated">
                                    <i class="fa fa-circle-o-notch fa-spin"></i>
                                </span>
                                <a href="#" class="widget-toggle-hidden-option">
                                    <i class="fa fa-cog"></i>
                                </a>
                                <a href="#" class="widget-collapse-option" data-toggle="collapse">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a href="#" class="widget-refresh-option">
                                    <i class="fa fa-refresh"></i>
                                </a>
                                <a href="#" class="widget-remove-option">
                                    <i class="fa fa-times"></i>
                                </a>
                            </span>
                        </div>
                        <div class="smart-widget-inner">
                            <div class="smart-widget-hidden-section">
                                <ul class="widget-color-list clearfix">
                                    <li style="background-color:#20232b;" data-color="widget-dark"></li>
                                    <li style="background-color:#4c5f70;" data-color="widget-dark-blue"></li>
                                    <li style="background-color:#23b7e5;" data-color="widget-blue"></li>
                                    <li style="background-color:#2baab1;" data-color="widget-green"></li>
                                    <li style="background-color:#edbc6c;" data-color="widget-yellow"></li>
                                    <li style="background-color:#fbc852;" data-color="widget-orange"></li>
                                    <li style="background-color:#e36159;" data-color="widget-red"></li>
                                    <li style="background-color:#7266ba;" data-color="widget-purple"></li>
                                    <li style="background-color:#f5f5f5;" data-color="widget-light-grey"></li>
                                    <li style="background-color:#fff;" data-color="reset"></li>
                                </ul>
                            </div>
                            <div class="smart-widget-body">
                                <form action="{:url('user/goods/saveInfo')}" method="post">
                                <input type="hidden" name="vendor_uid" value="{$vendorUid}"/>
                                <input type="hidden" name="uid" value="{$uid}"/>
                                   <div class="form-group">
                                    <label for="exampleInputEmail1">商品类型</label>
                            <select name="item_type_uid">
                            {volist name='list' id='item'}
                                <option value="{$item.uid}" {if condition="$info.item_type_uid eq  $item.uid"}selected="selected"{/if}>{$item.name}</option>                                
                            {/volist}
                            </select>
                                   </div>                                
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">插槽</label>
                                        <input class="form-control" name="slot" value="{$info.slot}">
                                    </div><!-- /form-group -->
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">价格</label>
                                        <input class="form-control" name="price" value="{$info.price}"/>
                                    </div><!-- /form-group -->                                 
                                    <div class="form-group">
                                    </div><!-- /form-group -->
                                    <button type="submit" value="提交" class="btn btn-success btn-sm" >提交</button>
                                                                      
                                </form>
                            </div>
                        </div><!-- ./smart-widget-inner -->
                    </div>
{/block}