﻿{extend name="layout/mainlayout2" /}
{block name="inner"}
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
   <script src="__JS__/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="__JS__/bootstrap.min.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="__JS__/custom.js"></script>
    <script src="__JS__/layer/layer.js"></script>
<div class="row m-bottom-md">
  <div class="col-sm-6 text-left text-left-sm">
    <div class="btn-group">

    </div>
    <a href="{:url('user/goods/editInfo')}?vendor_uid={$vendorUid}" class="btn btn-danger">添加</a>
  </div><!-- ./col -->
</div><!-- .row -->
          <div class="smart-widget">
            <div class="smart-widget-header">
              商品列表
              <span class="smart-widget-option">
                <span class="refresh-icon-animated">
                  <i class="fa fa-circle-o-notch fa-spin"></i>
                </span>
                              <a href="#" class="widget-toggle-hidden-option">
                                  <i class="fa fa-cog"></i>
                              </a>
                              <a href="#" class="widget-collapse-option" data-toggle="collapse">
                                  <i class="fa fa-chevron-up"></i>
                              </a>
                              <a href="#" class="widget-refresh-option">
                                  <i class="fa fa-refresh"></i>
                              </a>
                              <a href="#" class="widget-remove-option">
                                  <i class="fa fa-times"></i>
                              </a>
                          </span>
            </div>
            <div class="smart-widget-inner">
              <div class="smart-widget-hidden-section">
                <ul class="widget-color-list clearfix">
                  <li style="background-color:#20232b;" data-color="widget-dark"></li>
                  <li style="background-color:#4c5f70;" data-color="widget-dark-blue"></li>
                  <li style="background-color:#23b7e5;" data-color="widget-blue"></li>
                  <li style="background-color:#2baab1;" data-color="widget-green"></li>
                  <li style="background-color:#edbc6c;" data-color="widget-yellow"></li>
                  <li style="background-color:#fbc852;" data-color="widget-orange"></li>
                  <li style="background-color:#e36159;" data-color="widget-red"></li>
                  <li style="background-color:#7266ba;" data-color="widget-purple"></li>
                  <li style="background-color:#f5f5f5;" data-color="widget-light-grey"></li>
                  <li style="background-color:#fff;" data-color="reset"></li>
                </ul>
              </div>
              <div class="smart-widget-body">
                <table class="table table-striped">
                      <thead>
                        <tr>
                            <th>商品图片</th>
                            <th>种类</th>
                            <th>插槽</th>
                            <th>价格</th>
                            <th>数量</th>
                            <th>编辑</th>
                            <th>删除</th>
                        </tr>
                      </thead>
                      <tbody>
                         {volist name='$list' id='item'}
                        <tr>
                            <td><img src="{$item.img}" height="30" width="50"/></td> 
                            <td align="left" valign ="bottom">{$item.name}</td>
                            <td>{$item.slot}</td>
                            <td>{$item.price}</td>
                            <td>{$item.remain_count}</td>
                            <td><a href="{:url('user/goods/editInfo_ex')}?uid={$item.uid}&vendor_uid={$vendorUid}" ><span class="label label-danger">编辑</span></a></td>
                            <td><a href="javascript:removeinfo('{$item.uid}');"><span class="label label-danger">删除</span></a></td>                           
                        </tr>
                        {/volist}
                      </tbody>
                  </table>
              </div>
            </div><!-- ./smart-widget-inner -->
          </div><!-- ./smart-widget -->



<script type="text/javascript">
//删除分类
function removeinfo(id){
    layer.confirm('您确定要删除这条信息吗？',{
        btn:['确定','取消']
    },function(){            
        $.getJSON("{:url('user/Goods/removeInfo')}",{'uid':id},function(data){
        	//console.log(data.status);
           if(data.status==0){
               layer.msg(data.msg,{icon:1});
               $("#id_"+id).empty();
			   location.reload();
           }else{
               layer.msg(data.msg,{icon:2});
			   location.reload();
           }
        });
    },function(){}
    );
}
</script>			
{/block}