﻿{extend name="layout/mainlayout2" /}
{block name="inner"}
           <div id="page-inner">
                <div class="row">
                    <div class="col-lg-12">
                     <h2>商品列表：</h2>   
                    </div>
                </div>
				<hr /> 

			 <div class="row text-center pad-top">


                  {volist name='$list' id='item'}
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                      <div class="div-square-goods">
                           <a href="{:url('user/goods/editInfo_ex')}?uid={$item.uid}&vendor_uid={$vendorUid}" >

 <img class="img_vending_machine" src="{$item.img}"  />
                       </a>
                      <h4 class="txt-item-list">种类：{$item.name}</h4>
                      <h4 class="txt-item-list">插槽：{$item.slot}</h4>
                      <h4 class="txt-item-list">价格：{$item.price}</h4>            
                      <h4 class="txt-item-list">数量：{$item.remain_count}</h4>            
                      

                      </div>

					<a href="javascript:removeinfo('{$item.uid}');" ><!--todo markmark 这里连接到新的controller-->
                    <span class="icon icon-bin"> </span>删除</a>
                     
					  
                  </div> 
                  {/volist}
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                      <div class="div-square">
                           <a href="{:url('user/goods/editInfo')}?vendor_uid={$vendorUid}" ><!--todo markmark 这里连接到新的controller-->
 <i class="fa fa-plus fa-5x"></i>
                      <h4>添加</h4>
                      </a>
                      </div>
                  </div> 
              </div>
				

		  
            </div>
<script type="text/javascript">
//删除分类
function removeinfo(id){
    layer.confirm('您确定要删除这条信息吗？',{
        btn:['确定','取消']
    },function(){            
        $.getJSON("{:url('user/Goods/removeInfo')}",{'uid':id},function(data){
        	//console.log(data.status);
           if(data.status==0){
               layer.msg(data.msg,{icon:1});
               $("#id_"+id).empty();
			   location.reload();
           }else{
               layer.msg(data.msg,{icon:2});
			   location.reload();
           }
        });
    },function(){}
    );
}
</script>			
{/block}