﻿{extend name="layout/mainlayout" /}
{block name="inner"}
           <div id="page-inner">
                <div class="row">
                    <div class="col-lg-12">
                     <h2>售卖机列表：</h2>   
                    </div>
                </div>              
                 <!-- /. ROW  -->
                  <hr />
                <div class="row">
                    <!-- markmark 这里可以拿来发出警告信息 -->
                    {if false} 
                      <div class="col-lg-12 ">
                          <div class="alert alert-info">
                               <strong>Welcome Jhon Doe ! </strong> You Have No pending Task For Today.
                          </div>
                         
                      </div>
                    {/if}
                    </div>

                    <!-- todo markmark这里开始遍历这个商户的所有售卖机，并且显示。  -->

                    <!-- todo markmark 显示完售卖机，显示一个加号，用来进去添加界面。-->


                  <!-- /. ROW  --> 
                  <div class="row text-center pad-top">



                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                      <div class="div-square">
                           <a href="blank.html" >
 <i class="fa fa-circle-o-notch fa-5x"></i>
                      <h4>Check Data</h4>
                      </a>
                      </div>
                  </div> 
                 
              
                

                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                      <div class="div-square">
                           <a href="{:url('user/vending/addVendor')}" ><!--todo markmark 这里连接到新的controller-->
 <i class="fa fa-gear fa-5x"></i>
                      <h4>Settings</h4>
                      </a>
                      </div>
                  </div> 



              </div>



         <!-- /. ROW  -->   
         {if false}
          <div class="row">
              <div class="col-lg-12 ">
          <br/>
              <div class="alert alert-danger">
               <strong>Want More Icons Free ? </strong> Checkout fontawesome website and use any icon <a target="_blank" href="http://fortawesome.github.io/Font-Awesome/icons/">Click Here</a>.
                </div> 
              </div>
          </div>
          {/if}
                  <!-- /. ROW  --> 
    </div>
    {/block}